/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 3, 2024, 12:35:24 PM
    Author     : JoEKhalid
*/
.root{
    -fx-background-color: silver;
}

.button{
    -fx-background-color: darkslateblue;
    -fx-text-fill: white;
    -fx-font-size: medium;
}